[push]
	default = simple
[alias]
	st = status
	co = checkout
	ci = commit
	br = branch
	ls = log --decorate --oneline
	ll = log --decorate --numstat
    log-files = log --name-status
    log-lines = log --stat
[rebase]
  autosquash = true
